@{
    ViewBag.Title = "Домашняя страница";
}

<div class="jumbotron">
@*    <h1>MOE'S TAVERN</h1>*@
@*        <img src="https://pbs.twimg.com/profile_images/2343400608/na9tfx6j5x1n6z4rdzmh.jpeg"/>*@
    <img src="https://i.imgur.com/rUrBLQ9.png?1"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Цитата №4</h2>
        <p>В конце концов всё будет хорошо. А если пока не хорошо — значит, ты просто ещё не дошёл до конца.</p>
        <p>Пауло Коэльо</p>
    </div>
    <div class="col-md-4">
        <h2>Цитата №0</h2>
        <p>У каждого человека есть желания, которые он не сообщает другим, и желания, в которых он не сознаётся даже себе самому.</p>
        <p>Фрейд</p>
    </div>
    <div class="col-md-4">
        <h2>Цитата №4</h2>
        <p>Будь мягким. Не позволяй миру сделать тебя жестоким. Не позволяй боли заставить тебя ненавидеть и не допусти, чтобы горечь украла твою сладость.</p>
        <p>Курт Воннегут</p>
    </div>
</div>